<h1>Listing desires</h1>

<div id="content">

<div id="status-area"></div>

<div id="desire-list">
  <ul class="desires">
    <li class="input">
    <% form_for @desire do |f| %>
      <%= f.text_field :name %>
      <%= f.submit 'create' %>
    <% end %>
    </li>
    <%= render :partial => 'desire', :collection => @desires %>
  </ul>

  <ul class="details">
    <div id="desire-meta">
      <%= render :partial => 'meta', :collection =>  @meta %>
    </div>
    <div id="desire-attribute">
	  <%= hidden_field_tag '_method', 'put' %>
	  <%= render :partial => 'attribute', :collection => @attr %>
    </div>
  </ul>
  
  <span class="clear"></span>
</div>

</div>

<br />

<div id="navigation" class="column">
<%= link_to 'add...', '#', :id => "new-button" %>
</div>

<span class="clear"></span>
