<h1>Listing desires</h1>

<div id="content">

<div id="status"></div>

<ul id="desire-list">
  <li class="input">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= text_field_tag 'desire[name]' %>
  </li>
<% @desires.each do |desire| %>
  <li class="<%= generate_item_classes desire %>">
    <%= h(desire.name) %>
    <div class="price"><%=h desire.price %>
    <%= link_to image_tag("delete.png"), desire, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </li>
<% end %>
</ul>

</div>

<br />

<div id="navigation" class="column">
<%= link_to 'add...', '#', :id => "new-button" %>
</div>

<div id="total-items" class="column">Items: <%= @desires.size %></div>
<div id="total-expenses" class="column">Expenses: <%= @total_expenses %></div>
<div id="tobuy-items" class="column">Items To Buy: <%= @tobuy_items %></div>
<div id="total-budgets" class="column">Budgets: <%= @total_budgets %></div>
<span class="clear"></span>
