<h1>Listing desires</h1>

<div id="content">

<div id="status-area"></div>

<ul id="desire-list">
  <li class="input">
  <% form_for @desire do |f| %>
    <%= f.text_field :name %>
    <%= f.submit 'create' %>
  <% end %>
  </li>
  <%= render :partial => 'desire', :collection => @desires %>
</ul>

<ul id="desire-details">
  <%= hidden_field_tag '_method', 'put' %>
  <%= render :partial => 'attribute', :collection => @desire.attributes.keys %>
</ul>

<span class="clear"></span>
</div>

<br />

<div id="navigation" class="column">
<%= link_to 'add...', '#', :id => "new-button" %>
</div>

<div id="total-items" class="column">Items: <%= @desires.size %></div>
<div id="total-expenses" class="column">Expenses: <%= @total_expenses %></div>
<div id="tobuy-items" class="column">Items To Buy: <%= @tobuy_items %></div>
<div id="total-budgets" class="column">Budgets: <%= @total_budgets %></div>
<span class="clear"></span>
