<h1>Listing wants</h1>

<div id="content">

<ul>
<% @wants.each do |want| %>
  <li class="<%= want.purchase ? "item purchased" : "item" %>">
    <%= link_to h(want.name), want, :class => "name" %>
    <div class="price"><%=h want.price %>
    <%= link_to image_tag("delete.png"), want, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </li>
<% end %>
</ul>

</div>

<br />

<div id="navigation" class="column">
<%= link_to 'add...', new_want_path %>
</div>

<div id="total-items" class="column">Total Items: <%= @wants.size %></div>
<div id="total_expenses" class="column">Total Expenses: <%= @total_expenses %></div>
<span class="clear"></span>
