<h1>Listing wants</h1>

<div id="content">

<div id="status"></div>

<ul id="desire">
<% @wants.each do |want| %>
  <li class="<%= generate_item_classes want %>">
    <%= h(want.name) %>
    <div class="price"><%=h want.price %>
    <%= link_to image_tag("delete.png"), want, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </li>
<% end %>
</ul>

</div>

<br />

<div id="navigation" class="column">
<%= link_to 'add...', new_want_path %>
</div>

<div id="total-items" class="column">Items: <%= @wants.size %></div>
<div id="total-expenses" class="column">Expenses: <%= @total_expenses %></div>
<div id="tobuy-items" class="column">Items To Buy: <%= @tobuy_items %></div>
<div id="total-budgets" class="column">Budgets: <%= @total_budgets %></div>
<span class="clear"></span>
