<li>
  <span class="left">
    <span class="verb">
      <%= link_to desire.meet ? 'got one' : 'wants one', desire, :title => 'link to his/her desire' %> 
    </span>
    <span class="human">
      <%= link_to desire.user.login.capitalize, desire.user, :title => 'link to ' + desire.user.login %>
    </span>
  </span>
  <span class="middle">
    <span class="item">
      <%= link_to desire.item.name, desire.item, :title => 'link to item' %>
    </span>
    <span class="money">
      <%= budget_or_spent desire %>
    </span>
  </span>
  <span class="right">
    <span class="date">
      on <%= desire.meet ? desire.met_at : desire.updated_at.to_date %>
    </span>
  </span>
  <span class="clear"></span>
</li>