<% content_for :head do -%>
  <%= stylesheet_link_tag 'desires/style', 'desires/show' %>
<% end %>

<div class="human">
  <%= render :partial => 'commons/user', :locals => { :user => @desire.user } %>
</div>
<div class="desire_and_item">
  <% if user_owned? @desire %>
  <div class="action">
    <%= link_to 'modify', edit_desire_path(@desire) %>
    |
    <%= link_to 'delete', @desire, :confirm => 'really?', :method => :delete, :title => "I don't want it anymore!" %>
  </div>
  <% else %>
  <div class="action">
    <%= link_to 'I want it!', want_item_path(@desire.item), :method => :post %>
  </div>
  <% end %>

  <%= render :partial => 'commons/item', :locals => { :item => @desire.item } %>
  <%= render :partial => 'commons/desire', :locals => { :desire => @desire } %>
</div>

<span class="clear"></span>

<div class="feedback">
  <%= render :partial => 'commons/feedback', :locals => { :feedback => @desire.feedback } %>
</div>
