<ul>
  <li>
    <span class="left">
      <b>budget: </b>
    </span>
    <span class="right">
      <%= desire.budget.nil? ? "don't care" : desire.budget.to_i %>
    </span>
    <span class="clear"></span>
  </li>
  <hr />
  <li>
    <span class="left">
      <b>priority: </b>
    </span>
    <span class="right">
      <%= priority_message desire.priority %>
    </span>
    <span class="clear"></span>
  </li>
  <hr />
  <li>
    <span class="left">
      <b>meet: </b>
    </span>
    <span class="right">
      <%= desire.meet ? 'achieved' : 'not yet' %>
    </span>
    <span class="clear"></span>
  </li>
  <hr />
  <li>
    <span class="left">
      <b>met at: </b>
    </span>
    <span class="right">
      <%= desire.met_at.nil? ? "don't care" : desire.met_at.to_date %>
    </span>
    <span class="clear"></span>
  </li>
  <hr />
  <li>
    <span class="left">
      <b>due at: </b>
    </span>
    <span class="right">
      <%= desire.due_at.nil? ? "don't care" : desire.due_at.to_date %>
    </span>
    <span class="clear"></span>
  </li>
</ul>